stack/.env
stack/mosquitto/passwordfile
stack/zigbee2mqtt/log/
stack/chirpstack/chirpstack.toml
stack/gateway-bridge/chirpstack-gateway-bridge.toml
stack/zigbee2mqtt/configuration.yaml
stack/zigbee2mqtt/configuration_backup_v*.yaml
stack/zigbee2mqtt/state.json
stack/zigbee2mqtt/database.db
stack/zigbee2mqtt/coordinator_backup.json
stack/gateway-bridge/certs/*.key
stack/gateway-bridge/certs/*.csr
stack/gateway-bridge/certs/*.srl
stack/gateway-bridge/certs/*.crt

/stack/.env
/stack/mosquitto/passwordfile
/stack/zigbee2mqtt/log/
/stack/chirpstack/chirpstack.toml
/stack/gateway-bridge/chirpstack-gateway-bridge.toml
/stack/zigbee2mqtt/configuration.yaml
/stack/zigbee2mqtt/configuration_backup_v*.yaml
/stack/zigbee2mqtt/state.json
/stack/zigbee2mqtt/database.db
/stack/zigbee2mqtt/coordinator_backup.json
/stack/gateway-bridge/certs/*.key
/stack/gateway-bridge/certs/*.csr
/stack/gateway-bridge/certs/*.srl
/stack/gateway-bridge/certs/*.crt
# Node-RED runtime data (keep flows.json tracked)
/stack/nodered/data/*
!/stack/nodered/data/flows.json
stack/nodered/data/*
!stack/nodered/data/flows.json
# Environment variables file
.env
.github/
.vscode/
.DS_Store
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.idea/
*.iml

devices/zigbee/SMLIGHT_SLZB-06U/pictures/

devices/zigbee/HZ_LIGHT_ZIGBEE/pictures/
devices/zigbee/SONOFF_SNZB_03P/pictures/
devices/zigbee/NOUS_A1Z/pictures/
devices/lora/wisgate_edge_lite_2/pictures/
